body{
    background-image: url("wallpaperflare.jpg");
    color: white;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: cover;-o-background-size: cover;
}

h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}
p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  /*
  class="imgcenter" attribute was made in <img class="_" src="_"> for styling all such images
  */

.imgcenter {
    display: block;
    margin-left: auto; margin-right: auto;
    width: 50px;
}